targets
build_config.mk

*.a
*.arc
*.d
*.dylib*
*.gcda
*.gcno
*.o
*.so
*.so.*
*_test
*_bench
*_stress
*.out
*.class
*.jar
*.*jnilib*
*.d-e
*.o-*
*.swp

ldb
manifest_dump
sst_dump
util/build_version.cc
build_tools/valgrind_logs/
coverage/coverage_report
.gdbhistory
.phutil_module_cache
tags
java/*.log
java/include/org_rocksdb_*.h
unity.cc
