docs
._*
*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.ncb
*.suo
*.obj
*.ilk
*.pch
*.pdb
*.dep
*.idb
*.manifest
*.manifest.res
*.o
*.opensdf
*.d
*.sdf
xcuserdata
contents.xcworkspacedata
.ds_store
.svn
profile
builds/visualstudio2012/debug
builds/visualstudio2012/release
project.xcworkspace
modules/beast_cryptopp
bin/
