accessmodifieroffset: -4
alignescapednewlinesleft: true
aligntrailingcomments: true
allowallparametersofdeclarationonnextline: false
allowshortblocksonasingleline: false
allowshortfunctionsonasingleline: all
allowshortifstatementsonasingleline: false
allowshortloopsonasingleline: false
alwaysbreakbeforemultilinestrings: false
alwaysbreaktemplatedeclarations: true
binpackparameters: false
breakbeforebinaryoperators: false
breakbeforebraces: allman
breakbeforeternaryoperators: false
breakconstructorinitializersbeforecomma: false
columnlimit:     0
commentpragmas:  '^ iwyu pragma:'
constructorinitializerallononelineoroneperline: false
constructorinitializerindentwidth: 4
continuationindentwidth: 4
cpp11bracedliststyle: true
derivepointeralignment: false
disableformat:   false
foreachmacros:   [ foreach, q_foreach, boost_foreach, boost_reverse_foreach ]
indentcaselabels: false
indentfunctiondeclarationaftertype: false
indentwidth:     4
keepemptylinesatthestartofblocks: false
language:        cpp
maxemptylinestokeep: 2
namespaceindentation: none
objcspaceafterproperty: false
objcspacebeforeprotocollist: false
penaltybreakbeforefirstcallparameter: 1
penaltybreakcomment: 300
penaltybreakfirstlessless: 120
penaltybreakstring: 1000
penaltyexcesscharacter: 1000000
penaltyreturntypeonitsownline: 200
pointeralignment: left
spacebeforeassignmentoperators: true
spacebeforeparens: always
spaceinemptyparentheses: false
spacesbeforetrailingcomments: 1
spacesinangles:  false
spacesincontainerliterals: true
spacesincstylecastparentheses: false
spacesinparentheses: false
standard:        cpp11
tabwidth:        8
usetab:          never
